# Python virtual environments
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# Editor and operating system files
.vscode/
.DS_Store

# Temporary files
*.tmp
*.temp
*.bak
*.swp
~$*
